.panel{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 340px;
    background-color: var(--background-color);
    color: var(--font-color);
    position: absolute;
    padding: 20px;

    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.788);
    border-radius: 35px;
}

.inputBlock label{
    display: block;
}

.close{
    display: block;
    transform: scale(0.65);
    position: absolute;
    top:15px;
}

input{
    background-color: var(--background-color);
    border: 2px solid var(--secondary-color);
    padding:5px;
    border-radius: 2px;
    color: var(--primary-color);
}

.inputBlock label{
    margin-top: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

fieldset{
    padding: 10px 0;
    margin: 20px 0;
    border: none;
    display: flex;
    justify-content: center;
}

fieldset input{
    display: none;
}
fieldset label{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin: 0 15px;
    background-color: var(--background-color);
    color: var(--font-color);
    border: 2px solid var(--secondary-color);
    padding: 5px 8px;
    border-radius: 10px;
}
fieldset label:has(input:checked){
    background-color: var(--primary-color);
    color: var(--font-color-a);
}

button{
    background-color: var(--primary-color);
}

.deleteButton{
    position: absolute;
    top:20px;
    right: 20px;
}