*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --new_content_box: #fffffff3;
    --border_content: rgb(163, 163, 163);
    --border_radius_global:10px;
}

body{
    display: flex;
    flex-flow: column;
    align-items: center;
}

/*Título principal*/
.current_week{
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.current_week span{
    font-size: 70px;
}

/*Título secundario*/
.week_left{
    font-size: 17px;
    text-align: center;
}

.week_left span{
    font-size: 18px;
}

/*Sección añadir Contador*/
.button_new_counter{
    width: 250px;
    height: 30px;
    margin: 30px;
}

.display_box_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new_counter_box {
    width:400px;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction:column;
    background-color: var(--new_content_box);
    box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.66);
    gap: 10px;
    border-radius: var(--border_radius_global);
}

.button_close_new_counter{
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
    align-self:flex-end;
}

.new_counter_form fieldset, .new_counter_section {
    border: 2px solid var(--border_content);
    padding: 5px;
    margin: 5px 0;
}

.new_counter_box fieldset label:nth-child(1){
    display: block;
    padding: 5px;
}

.new_counter_section_radios_box{
    display: flex;
    justify-content: space-around;
}

.new_counter_section_radios_box div{
    padding: 10px;
    vertical-align: middle;
}
.new_counter_section_radios_box div label{
    font-size: 15px;
    padding-left: 15px;
}





/*Contadores secundarios*/

#counters_container{
    display: flex;
    flex-direction: column;
}

.counter_box{
    margin: 20px;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.66);
    border-radius: var(--border_radius_global);
    padding: 15px;
    width: 400px;
}

.counter_number{
    font-size: 50px;
    text-align: center;
}
.counter_name{
    font-size: 30px;
    text-align: center;
}

.counter_display{
    text-align: center;
}

.counter_date{
    font-size: 10px;
    text-align: center;
}