.addTaskButton{
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    margin-top: 30px;
    border-radius: 25px;
    transition: transform 0.1s;
}

.addTaskButton:hover{
    border: 2px solid var(--secondary-color);
}

.addTaskButton:active{
    border: 2px solid var(--secondary-color);
}

.addTaskButton:focus {
    outline: none;
}

@media (min-width: 600px){
    .addTaskButton:hover{
        transform: scale(1.1);
        filter: brightness(1.1);
    }
    .addTaskButton:active{
        transform: scale(0.95);
    }
}